<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: page_head('Shopme')}"></head>
<body>
<div class="container-fluid">
    <div th:replace="~{fragments :: top_navbar}"></div>

    <th:block th:replace="~{fragments :: search_nav}"></th:block>

    <h1>Shopping by Categories</h1>

    <div class="row my-2">
        <div class="col-md-2 col-sm-4 col-6" th:each="category : ${categories}">
            <div>
                <a th:href="@{'/c/' + ${category.alias}}" class="text-decoration-none link-primary">
                    <img th:src="@{${category.imagePath}}" alt="Category image" width="80"><br>
                    <b>[[${category.name}]]</b>
                </a>
            </div>
        </div>
    </div>

    <div th:replace="~{fragments :: footer_navbar}"></div>
</div>
</body>
</html>