<div th:fragment="mailTemplates" th:remove="tag">
    <form method="post"
          id="mailTemplateForm"
          th:action="@{/settings/mailTemplates/save}">

        <!-- Tabs -->
        <ul class="nav nav-tabs mb-3" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#customerVerification" role="tab">Customer Verification</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#orderConfirmation" role="tab">Order Confirmation</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="customerVerification" role="tabpanel">
                <div th:replace="~{settings/fragments/mailTemplates/mailTemplates_customerVerification_fragment
                        :: customerVerification}"></div>
            </div>

            <div class="tab-pane" id="orderConfirmation" role="tabpanel">
                <div th:replace="~{settings/fragments/mailTemplates/mailTemplates_orderConfirmation_fragment
                        :: orderConfirmation}"></div>
            </div>
        </div>

        <!-- Save -->
        <div class="text-center">
            <input type="submit" value="Save" class="btn btn-primary m-3"/>
        </div>
    </form>

</div>
