<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="details" th:remove="tag">
        <div id="productDetailsDiv">

            <!-- product details in the edit mode-->
            <div class="row mb-3"
                 th:if="${product.id != null and not #lists.isEmpty(productDetails)}"
                 th:each="detail, status : ${productDetails}"
                 th:id="'detailRow' + ${status.index}"
            >
                <input type="hidden" name="detailID" th:value="${detail.id}">

                <div class="col-4 d-flex align-items-center">
                    <label th:for="'name' + ${status.index}" class="me-2 mb-0">Name:</label>
                    <input type="text" class="form-control" th:value="${detail.name}"
                           th:id="'name' + ${status.index}" name="detailName" maxlength="255">
                </div>

                <div class="col-4 d-flex align-items-center">
                    <label th:for="'value' + ${status.index}" class="me-2 mb-0">Value:</label>
                    <input type="text" class="form-control" th:value="${detail.value}"
                           th:id="'value' + ${status.index}" name="detailValue" maxlength="255">
                </div>

                <div class="col-2">
                    <a name="linkRemoveDetail"
                       class="btn fa-solid fa-times-circle fa-2x icon-dark"
                       title="Remove this detail"
                    ></a>
                </div>
            </div>

            <!-- the empty product details, we check if the list is empty to avoid the exception
            in the creation mode where the productDetails list is null -->
            <div class="row mb-3"
                     th:with="productDetailsSize = ${#lists.isEmpty(productDetails) ?
                                0 : #lists.size(productDetails)}"
                     th:id = "'detailRow' + ${productDetailsSize}">
                <!-- New product details will have id = 0 -->
                <input type="hidden" name="detailID" value="0">

                <div class="col-4 d-flex align-items-center">
                    <label th:for = "'name' + ${productDetailsSize}" class="me-2 mb-0">Name:</label>
                    <input type="text" class="form-control" th:id="'name' + ${productDetailsSize}"
                           name="detailName" maxlength="255">
                </div>

                <div class="col-4 d-flex align-items-center">
                    <label th:for = "'value' + ${productDetailsSize}" class="me-2 mb-0">Value:</label>
                    <input type="text" class="form-control" th:id="'value' + ${productDetailsSize}"
                           name="detailValue" maxlength="255">
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-secondary" id="addMoreDetail">Add More Detail</button>

    </div>
    <script th:src="@{/js/common_form.js}" type="text/javascript"></script>
    <script type="text/javascript">

    </script>
</body>
</html>