<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: page_head(${pageTitle})}"></head>
<body>
    <div class="container-fluid">
        <div th:replace="~{fragments :: top_navbar}"></div>

        <div>
            <h2>Manage Users | [[${pageTitle}]]</h2>
        </div>

        <form method="post" onsubmit="return checkEmailUnique(this)" style="max-width: 700px; margin: 0 auto"
              th:action="@{/users/save}"
              th:object="${user}"
              enctype="multipart/form-data"
        >
            <input th:field="*{id}" type="hidden"/>

            <div class="border border-secondary rounded p-3">
                <div class="form-group row mb-3">
                    <label class="col-sm-4 col-form-label">E-mail:</label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control" th:field="*{email}"
                               required minlength="8" maxlength="128" />
                        <!--                        <div class="alert alert-danger mt-2" th:if="${emailError}" >-->
                        <!--                            [[${emailError}]]-->
                        <!--                        </div>-->
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label class="col-sm-4 col-form-label">First Name:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" th:field="*{firstName}"
                               required minlength="2" maxlength="45" />
                    </div>
                </div>
                <div class="form-group row mb-3">
                    <label class="col-sm-4 col-form-label">Last Name:</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" th:field="*{lastName}"
                               required minlength="2" maxlength="45" />
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label class="col-sm-4 col-form-label">Password:</label>
                    <div class="col-sm-8">
                        <input class="form-control" maxlength="20" minlength="8"
                               required th:field="*{password}" th:if="${user.id == null}" type="password">
                        <input class="form-control" maxlength="20" minlength="8"
                               placeholder="Leave blank to keep the same" th:field="*{password}" th:if="${user.id != null}"
                               type="password">
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label class="col-sm-4 col-form-label">Roles:</label>
                    <div class="col-sm-8">
                        <th:block th:each="role : ${listRoles}">
                            <input type="checkbox" th:field="*{roles}" th:text="${role.name}"
                                   th:value="${role.id}" class="m-2" />
                            - <small>[[${role.description}]]</small>
                            <br />
                        </th:block>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label class="col-sm-4 col-form-label">Enabled:</label>
                    <div class="col-sm-8">
                        <input type="checkbox" th:field="*{enabled}" />
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label class="col-sm-4 col-form-label">Photos:</label>
                    <div class="col-sm-8">
                        <!-- In the edit mode, If the user does not upload a new file, this hidden input ensures the original
                        value of the photos field is preserved and submitted. If the user does upload a new file,
                        the controller can update the photos field with the path or identifier of the newly uploaded image. -->
                        <input th:field="*{photos}" type="hidden">
                        <input accept="image/png, image/jpeg" class="mb-2"
                               id="imageFile" name="userImage"
                               size="1024"
                               type="file"/>

                        <img alt="image preview"
                             class="img-thumbnail"
                             id="thumbnail"
                             th:src="@{${user.photosImagePath}}">
                    </div>
                </div>

                <div class="text-center">
                    <input type="submit" value="Save" class="btn btn-primary m-3"/>
                    <input type="button" value="Cancel" class="btn btn-secondary" id="buttonCancel"/>
<!--                    <a class="btn btn-secondary" th:href="@{/users}">Cancel</a>-->
                </div>
            </div>
        </form>

        <!--
        <!== Server-Side Rendering Approach:
        Without using AJAX, This approach involves submitting the form to the "/users/save" endpoint.
        If the email is found to be duplicated, the user is not saved. Instead, an emailError attribute
        is added to the model to flag that email is duplicated. Then, Thymeleaf renders user_form with
        the error message and JavaScript shows the modal.

        Pros:- Simple Implementation, No need to use AJAX, SEO-Friendly
        Cons:- Requires a full-page reload, Increased Server Load. ==>

        <!== Error Modal Trigger ==>
        <div th:if="${emailError}">
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    const modal = new bootstrap.Modal(document.getElementById('duplicateEmailModal'));
                    modal.show();
                });
            </script>
        </div>

        <!== Error Modal ==>
        <div class="modal fade" id="duplicateEmailModal" tabindex="-1" aria-labelledby="duplicateEmailModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="duplicateEmailModalLabel">Duplicate Email</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p th:text="${emailError}"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        -->

        <!--
        <!== AJAX-Based Approach:
        This approach involves that form submission is intercepted by JavaScript. Then, email is sent
        asynchronously to the server (i.e '/users/check_email' API) for validation.
        If duplication is detected, a modal is displayed without reloading the page.
        If no duplication exists, the form is submitted programmatically.

        Pros:- Faster and Smoother User Experience: Avoids a full-page reload; only the necessary data
        is exchanged, Reduced Server Load,
        Cons:- Requires AJAX, Less SEO-Friendly ==>
        -->
        <div class="modal" id="modalDialog" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTitle">Warning</h5>
                        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                    </div>
                    <div class="modal-body">
                        <span id="modalBody"></span>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="~{fragments :: footer}"></div>
    </div>
    <script type="text/javascript">
        let thumbnail = $("#thumbnail");
        let prevSrcBeforeChanging = thumbnail.attr("src"); // the initial thumbnail source
        console.log("prevSrcBeforeChanging: " + prevSrcBeforeChanging)

        $(document).ready(function () {
            $("#buttonCancel").on("click", function() {
                window.location = "[[@{/users}]]";
            });

            $("#imageFile").change(function () {
                let fileSize = this.files[0]?.size || 0;
                console.log(fileSize)

                if (fileSize > 1048576) { // 1024 * 1024
                    this.setCustomValidity("Image size must be less than 1MB! =)");
                    this.reportValidity();
                } else {
                    this.setCustomValidity("");
                    showImageThumbnail(this);
                }
            })
        });

        function showImageThumbnail(fileInput) {
            console.log(fileInput.files)
            let file = fileInput.files[0];

            if (file == null) { // If no image selected, return to the original one
                thumbnail.removeAttr("src");
                thumbnail.attr("src", prevSrcBeforeChanging);
                return
            }

            let reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = function () {
                thumbnail.attr("src", reader.result);
                // console.log("reader.result: " + reader.result)
            }
        }

        function checkEmailUnique(form) {
            let url = "[[@{/users/check_email}]]";
            let userEmail = $("#email").val();
            let userId = $("#id").val();
            let csrfValue = $("input[name='_csrf']").val(); //the server generates a unique CSRF token and sends it to the client (e.g., embedded in the HTML or as part of a response header).
            let params = {email: userEmail, id: userId, _csrf: csrfValue};

            $.post(
                url,
                params,
                function (response) {
                    if (response === "OK")
                        // alert("OK")
                        form.submit();
                    else if (response === "Duplicated")
                        showModalDialog("Warning", `The email: <b>${userEmail}</b> has been registered already.`);
                    else
                        show("Error", "An Error occurred.");
                }
            ).fail(function () { // in case it fails to connect to the server (i.e '/users/check_email' API)
                    showModalDialog("Error", "Could not connect to server.")
                }
            )

            return false;
        }

        function showModalDialog(title, message) {
            $("#modalTitle").text(title);
            $("#modalBody").html(message); // Use .html() to allow HTML tags in the message

            // jQuery's .show() method, makes the modal visible without properly initializing it as
            // a Bootstrap modal. To fix this, you need to initialize the modal using Bootstrap's
            // JavaScript API instead of just making it visible with .show().
            // This ensures that the modal is displayed and can be closed properly using the
            // data-bs-dismiss attribute.
            const modalElement = $("#modalDialog");
            const modalInstance = new bootstrap.Modal(modalElement); // Create a Bootstrap modal instance
            modalInstance.show();
        }
    </script>
</body>
</html>