<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments :: page_head(${pageTitle})}"></head>
<body>
    <div class="container-fluid">
        <div th:replace="~{fragments :: top_navbar}"></div>

        <th:block th:replace="~{fragments :: search_nav}"></th:block>

        <div th:replace="~{fragments :: breadcrumb(allCategoryParents = ${allCategoryParents}, catBreadcrumb = true)}"></div>


        <div class="row text-center">
            <th:block th:each="cat : ${directChildrenCategories}">
                <div class="col" th:if="${cat.enabled}">
                    <a th:href="@{'/c/' + ${cat.alias}}" class="text-decoration-none link-primary">
                        <img th:src="@{${cat.imagePath}}" alt="Category image" width="100"> <br>
                        <b>[[${cat.name}]]</b>
                    </a>
                </div>
            </th:block>
        </div>

        <div class="row">
            &nbsp;
        </div>

        <div class="row">
            <div class="col-md-2 col-sm-4 col-6" th:each="product : ${listProducts}">
                <div th:replace="~{products/fragments/product_info_fragment :: product_info}"></div>
            </div>
        </div>

        <div th:replace="~{fragments :: pagination(path = 'c/' + ${categoryAlias}, entityName = 'products')}"></div>

        <div th:replace="~{fragments :: footer_navbar}"></div>
    </div>
</body>
</html>