<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments :: page_head('Categories - Shopme Admin')}"></head>
<body>
<div class="container-fluid">
    <div th:replace="~{fragments :: top_navbar}"></div>

    <div>
        <h2>Manage Categories</h2>
        <a class="fa-solid fa-folder-plus fa-2x text-decoration-none link-secondary me-2"
           th:href="@{/categories/new}"></a>

        <a class="fa-solid fa-file-csv fa-2x text-decoration-none link-secondary me-2"
           th:href="@{/categories/export/csv}"></a>
    </div>

    <div class="alert alert-success text-center m-2" th:if="${message != null}">
        [[${message}]]
    </div>

    <form class="row g-2 align-items-center m-3" th:action="@{/categories/page/{pageNumber}(pageNumber=1)}">
        <input class="form-control" name="sortField" th:value="${sortField}" type="hidden"/>
        <input class="form-control" name="sortDir" th:value="${sortDir}" type="hidden"/>

        <!-- Filter Label & Input -->
        <div class="col-12 col-md-auto">
            <label class="form-label m-0" for="keyword">Filter:</label>
        </div>
        <div class="col-12 col-md-auto">
            <input class="form-control" id="keyword" name="keyword" required
                   style="width: 200px;" th:value="${keyword}" type="search"/>
        </div>

        <!-- Buttons -->
        <div class="col-12 col-md-auto d-flex gap-2">
            <button class="btn btn-primary" type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>

            <button class="btn btn-secondary" onclick="clearSearch()" type="button">
                <i class="fa-solid fa-eraser"></i>
            </button>
        </div>
    </form>

    <div class="full-details">
        <table class="table table-bordered table-striped table-hover table-responsive-xl">
            <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Category Image</th>
                <th class="text-decoration-none text-white">
                    <a class="text-decoration-none text-white"
                       th:href="@{'/categories/page/' + ${currentPage}
                       + '?sortDir=' + ${sortField == 'name' ? reverseSortDir : 'asc'}
                       + ${!keyword.isEmpty() ? '&keyword=' + keyword : ''}
                       }">Name</a>

                    <span th:class="${sortDir} == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'"></span>
                </th>
                <th>Alias</th>
                <th>Enabled</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cat, iterStat : ${listCategories}">
                <td class="hideable-column">[[${cat.id}]]</td>
                <!-- <td>[[${iterStat.count}]]</td> <!==iterStat.index is zero-based ==>-->
                <td>
                    <img alt="category image"
                         style="width: 100px"
                         th:src="@{${cat.imagePath}}">
                </td>
                <td class="hideable-column">[[${cat.name}]]</td>
                <td>[[${cat.alias}]]</td>
                <td>
                    <th:block th:replace="~{fragments :: status('categories', ${cat.id}, ${cat.enabled}, 'category')}"></th:block>
                </td>
                <td>
                    <a class="fas fa-edit fa-2x text-decoration-none link-primary"
                       th:href="@{/categories/edit/{id}(id=${cat.id})}" title="Edit this category"></a>
                    &nbsp;

                    <!--Approach one-->
                    <!--<a class="fas fa-trash fa-2x text-decoration-none icon-red"
                       th:data-user-id="${user.id}"
                       th:data-user-fName="${user.firstName}"
                       th:data-user-lName="${user.lastName}"
                       onclick="showDeleteModal(this)"
                       title="Delete this user"></a>-->

                    <!--Approach two-->
                    <a class="fas fa-trash fa-2x text-decoration-none link-danger link-delete"
                       th:href="@{/categories/delete/{id}(id=${cat.id})}"
                       th:userId="${cat.id}" title="Delete this category"></a>

                </td>
            </tr>
            </tbody>
        </table>
    </div>

        <div class="less-details">
            <div class="row m-1" th:each="cat : ${listCategories}">
                <div class="col-4">
<!--                    <img alt="user image"-->
<!--                         style="width: 100px"-->
<!--                         th:if="${cat.image != null}" th:src="@{${cat.photosImagePath}}">-->

                    <span class="fa-solid fa-image-portrait fa-3x icon-silver"
                          th:if="${cat.image == null}"></span>
                </div>

                <div class="col-8">
                    <div> [[${cat.name}]]</div>
                    <div class="mt-2">
                        <th:block th:replace="~{fragments :: status('categories', ${cat.id}, ${cat.enabled}, 'category')}"></th:block>
                        &nbsp;
                        <a class="fas fa-edit fa-2x text-decoration-none link-primary"
                           th:href="@{/categories/edit/{id}(id=${cat.id})}" title="Edit this category"></a>
                        &nbsp;
                        <a class="fas fa-trash fa-2x text-decoration-none link-danger link-delete"
                           th:href="@{/categories/delete/{id}(id=${cat.id})}"
                           th:userId="${cat.id}" title="Delete this category"></a>
                    </div>
                </div>

                <div>&nbsp;</div>

            </div>
        </div>

        <div th:replace="~{fragments :: pagination('categories')}"></div>

    <div th:replace="~{fragments :: footer}"></div>
</div>
<script>
    function clearSearch() {
        window.location.href = "[[@{/categories}]]";
    }
</script>
</body>
</html>