<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: page_head(${'Forgot Password'})}"></head>
<body>
<div class="container-fluid text-center">
    <div th:replace="~{fragments :: top_navbar}"></div>

    <h2 class="text-center my-3">Forgot Password</h2>

    <div th:if="${param.success}">
        <p class="text-success">
            We have sent a reset password link to your email. <br>
            <a href="https://mail.google.com" class="text-decoration-none link-success fs-5 fw-bold"
              target="_blank">Check Email</a>
        </p>
    </div>

    <div th:if="${error != null}">
        <p class="text-danger" th:text="${error}"></p>
    </div>

    <div class="my-3">
        <form method="post" style="max-width: fit-content; margin: 0 auto"
              th:action="@{/forgot_password/send_reset_link}">
            <div class="border border-secondary rounded p-3">
                <p>We will be sending a reset password link to your email.</p>
                <div class="mb-3">
                    <input class="form-control" name="email" placeholder="Enter your e-mail"
                           required type="email" autofocus/>
                </div>
                <div>
                    <input class="btn btn-primary" type="submit" value="Send"/>
                </div>
            </div>
        </form>
    </div>

    <div th:replace="~{fragments :: footer_navbar}"></div>

</div>
</body>
</html>