<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="~{fragments :: page_head(title = ${pageTitle}, removeTag = 'tag')}"></head>

    <link rel="stylesheet" th:href="@{/richtext/richtext.min.css}">
    <script th:src="@{/richtext/jquery.richtext.min.js}" type="text/javascript"></script>
</head>
<body>
    <div class="container-fluid">
        <div th:replace="~{fragments :: top_navbar}"></div>

        <div>
            <h2>Manage Products | [[${pageTitle}]]</h2>
        </div>

        <form method="post" onsubmit="return checkUniqueName(this)"
              th:action="@{/products/save}"
              th:object="${product}"
              enctype="multipart/form-data">
            <div class="border border-secondary rounded p-3">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" data-bs-toggle="tab"
                                data-bs-target="#overview" type="button" role="tab">Overview</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" data-bs-toggle="tab"
                                data-bs-target="#description" type="button" role="tab">Description</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" data-bs-toggle="tab"
                                data-bs-target="#images" type="button" role="tab">Images</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" data-bs-toggle="tab"
                                data-bs-target="#details" type="button" role="tab">Details</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" data-bs-toggle="tab"
                                data-bs-target="#shipping" type="button" role="tab">Shipping</button>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content p-3">
                    <div class="tab-pane active" id="overview" role="tabpanel" tabindex="0">
                        <div th:replace="~{products/fragments/product_overview_fragment :: overview}"></div>
                    </div>
                    <div class="tab-pane" id="description" role="tabpanel" tabindex="0">
                        <div th:replace="~{products/fragments/product_description_fragment :: description}"></div>
                    </div>
                    <div class="tab-pane" id="images" role="tabpanel" tabindex="0">
                        <div th:replace="~{products/fragments/product_images_fragment :: images}"></div>
                    </div>
                    <div class="tab-pane" id="details" role="tabpanel" tabindex="0">Details</div>
                    <div class="tab-pane" id="shipping" role="tabpanel" tabindex="0">
                        <div th:replace="~{products/fragments/product_shipping_fragment :: shipping}"></div>
                    </div>
                </div>

                <div class="text-center">
                    <input type="submit" value="Save" class="btn btn-primary m-3"/>
                    <input type="button" value="Cancel" class="btn btn-secondary" id="buttonCancel"/>
                </div>
            </div>
        </form>

        <div th:replace="~{modal_fragments :: modal_dialog}"></div>

        <div th:replace="~{fragments :: footer}"></div>
    </div>
    <script type="text/javascript">
        let moduleURL = "[[@{/products}]]";
        let MAX_FILE_SIZE = 512000;

        const brandSelect = $("#brand");
        const categorySelect = $("#category");

        $(document).ready(function () {
            // Initial call (for default brand selected when the page loads)
            getCategories();

            // Update categories on change
            brandSelect.on("change", getCategories);

            $('.content').richText();
        });

        function getCategories() {
            let brandId = brandSelect.val(); // brandSelect.find("option:selected").val();
            let url = "[[@{/brands/}]]" + brandId + "/categories";

            $.get(
                url,
                function (response) {
                    categorySelect.empty();
                    $.each(response, function (index, category) {
                        $("<option>")
                            .val(category.id)
                            .text(category.name)
                            .appendTo(categorySelect);
                        // categorySelect.append($("<option></option>")
                        //     .val(category.id)
                        //     .text(category.name));
                    });
                });
        }

        function checkUniqueName(form) {
            let url = "[[@{/products/check_unique_name}]]";
            let productName = $("#name").val();
            let productId = $("#id").val();
            let csrfValue = $("input[name='_csrf']").val(); // the server generates a unique CSRF token and sends it to the client (e.g., embedded in the HTML or as part of a response header).
            let params = {name: productName, id: productId, _csrf: csrfValue};

            $.post(
                url,
                params,
                function (response) {
                    if (response === "OK")
                        // alert("OK")
                        form.submit();
                    else if (response === "Duplicated")
                        showWarningModal(`There is another product having the name: <b>${productName}</b>`);
                    else
                        showErrorModal("Unknown response from the server.");
                }
            ).fail(function () { // in case it fails to connect to the server (i.e '/products/check_unique_name' API)
                    showErrorModal("Could not connect to server.")
                }
            )

            return false;
        }
    </script>
    <script th:src="@{/js/common_form.js}" type="text/javascript"></script>
</body>
</html>