<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: page_head(${'Account Details'})}"></head>
<body>
<div class="container-fluid">
    <div th:replace="~{fragments :: top_navbar}"></div>

    <th:block th:replace="~{fragments :: search_nav}"></th:block>

    <div class="alert alert-success text-center my-3" th:if="${message != null}">
        [[${message}]]
    </div>

    <div class="text-center mt-4">
        <h2>Your Account Details</h2>
    </div>

    <div class="border border-secondary rounded p-3 mb-4"
         style="max-width: 600px; margin: 0 auto;">
        <form th:action="@{/account/update}"
              onsubmit="event.preventDefault(); validateAndSubmitAccountForm(this);"
              th:object="${customer}"
              id="customerForm"
              method="post"
        >
            <input th:field="*{id}" type="hidden"/>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Authentication Type:</label>
                <div class="col-sm-8">
                    <input class="form-control" th:value="*{authenticationType}" type="text" disabled/>
                </div>
            </div>

            <div class="row mb-3">
                <input th:field="*{email}" type="hidden">
                <label class="col-sm-4 col-form-label">E-mail:</label>
                <div class="col-sm-8">
                    <input class="form-control" th:value="*{email}" type="email" disabled/>
                </div>
            </div>

            <!-- First Name -->
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label" for="firstName">First Name:</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{firstName}" class="form-control" minlength="2" maxlength="45"
                           required>
                </div>
            </div>

            <!-- Last Name -->
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label" for="lastName">Last Name:</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{lastName}" class="form-control" minlength="2" maxlength="45"
                           required>
                </div>
            </div>

            <!-- Password -->
            <th:block th:if="${customer.authenticationType.name() == 'DATABASE'}">
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label" for="password">Password:</label>
                    <div class="col-sm-8">
                        <input type="password" th:field="*{password}" class="form-control" minlength="6" maxlength="15"
                               oninput="checkPasswordMatch(document.getElementById('confirmPassword'))"
                               placeholder="Leave this field blank if you don't want to change password">
                    </div>
                </div>

                <!-- Re-type Password -->
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label" for="confirmPassword">Re-type Password:</label>
                    <div class="col-sm-8">
                        <input type="password" id="confirmPassword" class="form-control" minlength="6" maxlength="15"
                               oninput="checkPasswordMatch(this)">
                    </div>
                </div>
            </th:block>

            <!-- Phone -->
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label" for="phoneNumber">Phone Number:</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{phoneNumber}" class="form-control" minlength="8" maxlength="15"
                           required>
                </div>
            </div>

            <!-- Address Line 1 -->
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label" for="addressLine1">Address Line 1:</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{addressLine1}" class="form-control" minlength="3" maxlength="64"
                           required>
                </div>
            </div>

            <!-- Address Line 2 -->
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label" for="addressLine2">Address Line 2:</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{addressLine2}" class="form-control"
                           placeholder="Address Line 2 is optional" minlength="3" maxlength="64">
                </div>
            </div>

            <!-- City -->
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label" for="city">City:</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{city}" class="form-control" minlength="2" maxlength="45"
                           required>
                </div>
            </div>

            <!-- Country -->
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label" for="countrySelect">Country:</label>
                <div class="col-sm-8">
                    <select id="countrySelect"
                            th:field="*{country}"
                            class="form-select"
                            required>
                        <option th:each="c : ${countries}"
                                th:value="${c.id}"
                                th:text="${c.name}"
                                th:selected="${c.id == customer.country.id}">
                        </option>
                    </select>
                </div>
            </div>

            <!-- State (Editable Select) -->
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label" for="state">State/Province:</label>
                <div class="col-sm-8">
                    <input list="stateList"
                           th:field="*{state}"
                           class="form-control"
                           placeholder="Select or type a state"
                           minlength="3" maxlength="45"
                           required>

                    <datalist id="stateList"></datalist>
                </div>
            </div>

            <!-- Postal Code -->
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label" for="postalCode">Postal Code:</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{postalCode}" class="form-control" minlength="2" maxlength="10">
                </div>
            </div>

            <div class="text-center">
                <input class="btn btn-primary m-3" type="submit" value="Update"/>
                <input class="btn btn-secondary" id="buttonCancel" type="button" value="Cancel"/>
            </div>
        </form>
    </div>

    <div th:replace="~{fragments :: modal_dialogue}"></div>

    <div th:replace="~{fragments :: footer_navbar}"></div>
</div>
<script type="text/javascript">
    const moduleURL = "[[@{/}]]";
    const statesByCountryUrl = "[[@{/register/states_by_country/}]]";
    const checkEmailUniquenessUrl = "[[@{/register/check_email_uniqueness}]]";
    const checkFullNameUniquenessUrl = "[[@{/register/check_fullName_uniqueness}]]";
    const checkPhoneNumberIntegrityUrl = "[[@{/register/check_phoneNumber_integrity}]]";
    const checkPhoneNumberUniquenessUrl = "[[@{/register/check_phoneNumber_uniqueness}]]";

    async function validateAndSubmitAccountForm(form) {
        if (!await checkFullNameUniqueness()) return;
        if (!await checkPhoneNumberIntegrity()) return;
        if (!await checkPhoneNumberUniqueness()) return;

        // All checks passed
        form.submit();
    }
</script>
<script th:src="@{/js/common_customer_form.js}" type="text/javascript"></script>
<script th:src="@{/js/common_form.js}" type="text/javascript"></script>
</body>
</html>