<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments :: page_head(${pageTitle})}"></head>
<body>

<div class="container-fluid">
    <div th:replace="~{fragments :: top_navbar}"></div>

    <div th:replace="~{fragments :: breadcrumb(allCategoryParents = ${allCategoryParents}, prodBreadcrumb = true)}"></div>

    <div class="row m-3">
        <div class="col-sm">
            <div>
                <img th:src="@{${product.mainImagePath}}" id="bigImage" class="img-fluid" index="0" alt="Product image">
            </div>
            <div class="row justify-content-center">
                <div class="col-auto m-2 p-1 border border-secondary">
                    <img th:src="@{${product.mainImagePath}}" class="imgThumbnail" index="0" height="50" alt="Product image">
                </div>
                <th:block th:each="image, status : ${product.extraImages}">
                    <div class="col-auto m-2 p-1 border border-secondary">
                        <img th:src="@{${image.imagePath}}" class="imgThumbnail" th:index="${status.count}"
                             height="50" alt="Product image">
                    </div>
                </th:block>
            </div>
        </div>
        <div class="col-sm">
            <h2>[[${product.name}]]</h2>

            <div>
                <span th:text="|Brand: ${product.brand.name}|"></span>
            </div>
            <div th:if="${product.discountPercent == 0}">
                List Price: <span th:replace="~{products/fragments/product_price_fragment :: product_price(${product.price})}"></span>
            </div>
            <div th:if="${product.discountPercent > 0}">
                List Price: <div th:replace="~{products/fragments/product_price_fragment :: product_price(price=${product.price}, cssClass='text-decoration-line-through')}"></div>
                <br>
                Price: <span th:replace="~{products/fragments/product_price_fragment :: product_price(price=${product.discountPrice}, cssClass='fw-bold text-danger')}"></span>
                <span th:text="'(' + ${#numbers.formatDecimal(product.discountPercent, 1, THOUSANDS_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE)} + '% off)'"></span>
            </div>

            <div>&nbsp;</div>

            <div th:utext="${product.shortDescription}"></div>
        </div>
        <div class="col-sm-2">
            <span th:class="'fw-bold ' + ${product.inStock ? 'text-success' : 'text-danger'}"
                  th:text="${product.inStock ? 'In Stock' : 'Out of Stock'}"></span>
            <div class="input-group mt-2" style="width: 140px;">
                <button class="btn btn-outline-primary" type="button" id="btn-minus">−</button>

                <input type="number" class="form-control text-center" value="1" min="1" max="10" id="quantity">

                <button class="btn btn-outline-primary" type="button" id="btn-plus">+</button>
            </div>
            <div class="mt-2">
                <button class="btn btn-primary">Add to Cart</button>
            </div>
        </div>
    </div>
    <hr>

    <div class="row m-3">
        <div class="col-12">
            <h3>Product Description:</h3>
            <div th:utext="${product.fullDescription}"></div>
        </div>
    </div>
    <hr>

    <div class="row m-3">
        <div class="col-12">
            <h3>Product Details:</h3>
            <div th:each="detail : ${product.productDetails}">
                <span th:text="${detail.name}" class="fw-bold"></span>:
                <span th:text="${detail.value}"></span>
            </div>
        </div>
    </div>

    <div th:replace="~{fragments :: modal_carousel}"></div>

    <div th:replace="~{fragments :: footer_navbar}"></div>
</div>
<script>
    let bigImage = $('#bigImage');

    $(document).ready(function() {
        $('.imgThumbnail').mouseover(function() {
            let currentImageSrc = $(this).attr('src');
            let currentIndex = $(this).attr('index');
            bigImage.attr('src', currentImageSrc);
            bigImage.attr('index', currentIndex);
        });

        $('#bigImage').mouseover(function() {
            $(this).css('cursor', 'pointer');
        });

        $('#bigImage').click(function() {
            const modalElement = $("#modalDialog");
            const modalInstance = new bootstrap.Modal(modalElement); // Create a Bootstrap modal instance
            modalInstance.show();

            // Set the current image in the modal carousel
            let currentIndex = parseInt(bigImage.attr('index'));
            $("#carouselExampleIndicators").carousel(currentIndex);
        });

        // Handle modal carousel navigation
        $("#carouselExampleIndicators").on("slide.bs.carousel", function (event) {
            let currentIndex = $(event.relatedTarget).index();
            bigImage.attr('src', $(event.relatedTarget).find("img").attr('src'));
            bigImage.attr('index', currentIndex);
        });

        $("#btn-plus").click(function () {
            let input = $("#quantity");
            let current = parseInt(input.val());
            let max = parseInt(input.attr("max"));

            if (current < max) {
                input.val(current + 1);
            }
        });

        $("#btn-minus").click(function () {
            let input = $("#quantity");
            let current = parseInt(input.val());
            let min = parseInt(input.attr("min"));

            if (current > min) {
                input.val(current - 1);
            }
        });
    });
</script>
</body>
</html>