<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: page_head('Settings - Shopme Admin')}"></head>
<body>
    <div class="container-fluid">
        <div th:replace="~{fragments :: top_navbar}"></div>

        <div>
            <h2>Site Settings</h2>
        </div>

        <div th:class="|alert alert-${resultClass ?: 'success'} text-center|" th:if="${message != null}">
            [[${message}]]
        </div>

        <div class="border border-secondary rounded p-3">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" id="settingTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" data-bs-toggle="tab"
                            data-bs-target="#general" type="button" role="tab">General</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" data-bs-toggle="tab"
                            data-bs-target="#countries" type="button" role="tab">Countries</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" data-bs-toggle="tab"
                            data-bs-target="#states" type="button" role="tab">States</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" data-bs-toggle="tab"
                            data-bs-target="#mailserver" type="button" role="tab">Mail Server</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" data-bs-toggle="tab"
                            data-bs-target="#mailtemplates" type="button" role="tab">Mail Templates</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" data-bs-toggle="tab"
                            data-bs-target="#payment" type="button" role="tab">Payment</button>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content p-3">
                <div class="tab-pane active" id="general" role="tabpanel" tabindex="0">
                    <div th:replace="~{settings/fragments/setting_general_fragment :: general}"></div>
                </div>
                <div class="tab-pane" id="countries" role="tabpanel" tabindex="0">
                </div>
                <div class="tab-pane" id="states" role="tabpanel" tabindex="0">
                </div>
                <div class="tab-pane" id="mailserver" role="tabpanel" tabindex="0">
                </div>
                <div class="tab-pane" id="mailtemplates" role="tabpanel" tabindex="0">
                </div>
                <div class="tab-pane" id="payment" role="tabpanel" tabindex="0">
                </div>
            </div>


        </div>

        <div th:replace="~{fragments :: footer}"></div>
    </div>
    <script th:src="@{/js/common_form.js}" type="text/javascript"></script>
</body>
</html>